# Root Gitignore
node_modules/
__pycache__/
.env
.venv/
venv/
env/
.idea/
.vscode/

# sst
.sst
# GitNexus & Claude AI configs
.gitnexus/
.claude/
AGENTS.md
CLAUDE.md
*.txt
.docx
backend\db_erd_design_v2.md
.agents